<div class="container">
  <div class="box">
    <!-- <div class="text-box">
      Empower Your Journey with Online Learning!<br><br>

      Welcome to OpenAcademy, your one-stop destination for online courses. Unleash your potential, acquire new skills,
      and embrace exciting opportunities with our expertly curated courses. Join our vibrant community of learners and
      take charge of your future. Let's begin this enriching journey together!
    </div> -->

  </div>
  <hr>
  <div class="rowstyle">

    <div>
      <div class="bluetext">Best-in-Class<br>
        Instructors</div>
      <br>
      <div class="graytext">Empowering you <br>
        with knowledge and skills.</div>
    </div>

    <div>
      <img src="https://storage.googleapis.com/swayam2_central/assets/img/swayam_images/Slider/instructor.png" alt=""
        width="100%">
    </div>

  </div>


  <!--Row 01 [END]-->

  <!--Row 02 [START]-->

  <div class="rowstyle">

    <div><img src="https://storage.googleapis.com/swayam2_central/assets/img/swayam_images/Slider/assignments.png"
        alt=""></div>

    <div>
      <div class="bluetext">Weekly <br>

        Assignments</div>
      <br>
      <div class="graytext">Ensuring your progress<br>

        in timely manner.</div>

    </div>

  </div>


  <div class="rowstyle">

    <div>
      <div class="bluetext">Proctored <br>

        Exams</div>
      <br>
      <div class="graytext">Channelized through<br>

        our authorized partners.</div>
      <!--<button class="btn btn-outline btn-lg">Know More</button>-->
    </div>

    <div><img src="https://storage.googleapis.com/swayam2_central/assets/img/swayam_images/Slider/proctored_exam.png"
        alt=""></div>

  </div>

  <!--Row 03 [END]-->

  <!--Row 04 [START]-->

  <div class="rowstyle">

    <div><img src="https://storage.googleapis.com/swayam2_central/assets/img/swayam_images/Slider/credits_transfer.png"
        alt=""></div>

    <div>
      <div class="bluetext">Easy<br>

        Credit Transfer</div>
      <br>
      <div class="graytext">Complementing your<br>

        academic program.</div>
      <!--<button class="btn btn-outline btn-lg">Know More</button>-->
    </div>

  </div>

  <!--Row 04 [END]-->

  <!--Row 05 [START]-->

  <div class="rowstyle">

    <div>
      <div class="bluetext">Active<br>

        Local Chapters</div>
      <br>
      <div class="graytext">Enhancing effectiveness of MOOCs <br>

        (Massive Online Open Courses).</div>
      <!--<button class="btn btn-outline btn-lg">Know More</button>-->
    </div>

    <div><img src="https://storage.googleapis.com/swayam2_central/assets/img/swayam_images/Slider/local_chapter.png"
        alt=""></div>

  </div>

  <!--Row 05 [END]-->

  <!--Row 06 [START]-->

  <div class="rowstyle">

    <div><img
        src="https://storage.googleapis.com/swayam2_central/assets/img/swayam_images/Slider/systematic_approach.png"
        alt=""></div>

    <div>
      <div class="bluetext">Systematic<br>

        Approach</div>
      <br>
      <div class="graytext">Enabling you towards<br>

        desired learning goals.</div>
      <!--<button class="btn btn-outline btn-lg">Know More</button>-->
    </div>

  </div>

  <!--Row 06 [END]-->


</div>